* {
	padding: 0;
	margin: 0;
}
body {
	color: #000;
	font-family: 'Karla', sans-serif;
	font-size:13px;
	text-align:left;
	background-color: #fff;
	margin: 0px;
	overflow: hidden;
	padding: 0;
}

#info {
	color:#000;
	position: absolute;
	top: 0px; width: 100%;
	padding: 5px;

}

a {
	color: red;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
.interactionLayer{ }

.hoverPanel{position:absolute;width:250px;}
button{background:none; border:none;}
.clickPanel, .headline{position:absolute;}
.bottomPanel{position:absolute; width:100%; bottom:30px;background-color:rgba(0, 0, 0, 0.5)}

/* Title top */
.headline{ margin-left:40px; margin-top:30px;}
h1,h2{color:white;text-align: left;}
h1{font-size:16px;line-height:16px; font-weight:700;}
h2{font-size:28px; line-height:24px; font-weight:400;}
/* Tooltip */
.hoverPanel h3{font-weight:700;font-size:24px;color:white;text-align: left}
.tooltip{
	background: #fff;
	display: block;
	padding: 40px 30px;
	width: 190px;
}
.has-caret:after {
	width: 25px;
	height: 25px;
	color: #0095ED;
}

.tooltip-header {
	width: 190px;
	height: 60px;
	margin-bottom: 40px;
}

.tooltip-headline {
	width: 50%;
	float: left;
}

.tooltip-headline {
	font-size: 21px;
	line-height: 28px;
	color: #19485F;
	font-weight:bold;
}


.graph {
	width: 60px;
	float: right;
}

.tooltip-list {
	width: 190px;
	height: 120px;
}

#tooltip-list{
	overflow: hidden;
}

.tooltip-list li {
	list-style: none;
	float: left;
	display: inline;
	width: 50%;
	font-size: 15px;
	line-height: 2;
}

.tooltip-list li:nth-child(even) {
	text-align: right;
}

#double li {
	width: 50%;
	float: right;
	<span class="code-comment">
}

.button-add {
	background: #F1F1F2;
	width: 210px;
	padding: 20px;
}

.button-add .tooltip-button {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 20px;
	text-align: center;
	color: #19485F;
}
